* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: lightgrey;
}

.wrapper {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid lightgray;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.back-content .decor {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.back-content .decor2 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.front-content .decor {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.front-content .decor2 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show-images .decor {
    opacity: 1;
    transform: translateY(-80px) translateX(-150px) rotate(-20deg);
}

.show-images .decor2 {
    opacity: 1;
    transform: translateY(110px) translateX(-120px) rotate(30deg);
}

.show-images-front .decor {
    opacity: 1;
    transform: translateY(-100px) translateX(100px) rotate(20deg);
}

.show-images-front .decor2 {
    opacity: 1;
    transform: translateY(110px) translateX(120px) rotate(-30deg);
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

.decor {
    transform: translateY(-50%);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}

#p5 {
    z-index: 1;
}

#f1 {
    background-color: darkred;  
}

#f1 i {
    color: #FFD700;
    font-size: 100px;
}

#f1 p {
    font-size: 30px;
    color: #FFD700;     
}

#b5 {
    background-color: darkred;
}
